<div class="containerlogin">
    <app-header></app-header>
    <div class="wrap-login100" style="margin-top: 100px">
        <form class="login100-form validate-form">

            <h3 class="login100-form-title p-b-34 p-t-27" style="text-align: center;margin-bottom: 20px">
                Đăng nhập
            </h3>

            <div class="wrap-input100 validate-input" data-validate="Enter username">
                <input name="username" class="input100" type="text" placeholder="Tên người dùng">
                <span class="focus-input100" data-placeholder=""></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Enter password">
                <input name="pass" class="input100" type="password" placeholder="Mật khẩu">
                <span class="focus-input100" data-placeholder=""></span>
            </div>

            <div class="contact100-form-checkbox">
                <input name="remember-me" class="input-checkbox100" id="ckb1" type="checkbox">
                <label class="label-checkbox100" for="ckb1">
      Lưu mật khẩu
    </label>
            </div>

            <div class="container-login100-form-btn">
                <button class="button-login">
      Đăng nhập
    </button>
            </div>

            <div class="text-center p-t-90">
                <a class="txt1" href="forgot-password.html" style="float: left;">
      Quên mật khẩu?
    </a>
                <a class="txt1" href="sign-up.html" style="float: right;">
      Đăng ký
    </a>
            </div>
        </form>
    </div>
    <!-- ####################### Start Scroll to Top Area ####################### -->
    <div id="back-top">
        <a title="Go to Top" href="#"></a>
    </div>
    <!-- ####################### End Scroll to Top Area ####################### -->
</div>