<div *ngIf="checkLoginRole(); else loggedOut">
    <div class="popup" id="popup">
        <div class="popup__content" style="text-align: center;">
            <span class="AssistantFeedbackHeading-emoji">
          <svg
          xmlns="http://www.w3.org/2000/svg"
          width="64"
          height="64"
          viewBox="0 0 64 64"
        >
          <circle fill="#FDCA47" cx="32" cy="32" r="30"></circle>
          <path
            fill="#F9B700"
            d="M51.654 9.346A29.874 29.874 0 0 1 59 29c0 16.568-13.432 30-30 30a29.865 29.865 0 0 1-19.654-7.346C14.846 57.99 22.952 62 32 62c16.568 0 30-13.432 30-30 0-9.047-4.012-17.152-10.346-22.654z"
          ></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            fill="#FFE8BB"
            d="M6.418 20.5C5.302 24.242 13 11 25 6.084c5.834-2.391-13.832-1.5-18.582 14.416z"
          ></path>
          <circle fill="#302C3B" cx="20.5" cy="24.5" r="5"></circle>
          <circle fill="#302C3B" cx="43.5" cy="24.5" r="5"></circle>
          <path
            fill="#302C3B"
            d="M51 37.789c0-.893-.529-2.01-2.037-2.297C45.092 34.756 39.373 34 32 34h-.002c-7.369 0-13.091.756-16.961 1.492-1.508.287-2.037 1.404-2.037 2.297C13 45.867 19.271 54 31.998 54H32c12.729 0 19-8.133 19-16.211z"
          ></path>
          <path
            fill="#1A1626"
            d="M33.844 42c-.578-.012-1.471.455-1.145 1.688.163.621 1.191 1.375 1.191 2.381 0 2.045-3.783 2.045-3.783 0 0-1.006 1.027-1.76 1.193-2.381.327-1.232-.566-1.699-1.146-1.688-1.574.037-4.155 1.498-4.155 3.969C25.999 48.748 28.686 51 32 51c3.311 0 5.998-2.252 5.998-5.031 0-2.471-2.582-3.932-4.154-3.969z"
          ></path>
          <path
            fill="#F46C60"
            d="M24 50.082c2.313 1.051 4.979 1.668 8 1.668s5.688-.617 8-1.668c-2.23-1.139-4.887-1.832-8-1.832-3.115 0-5.768.693-8 1.832z"
          ></path>
          <path
            fill="#FFF"
            d="M46.504 38.037C43.996 37.66 38.688 37 31.998 37c-6.688 0-11.993.66-14.503 1.037-1.479.221-1.568.76-1.466 1.52.062.451.156 1 .302 1.588.162.652.291.824 1.447.836 2.221.027 26.222.027 28.444 0 1.156-.012 1.281-.184 1.445-.836.145-.588.242-1.137.301-1.588.106-.76.012-1.299-1.464-1.52z"
          ></path></svg></span>
            <h3 class="UIHeading UIHeading--three" style="margin-bottom: 0;margin-left: 0;margin-right: 0;font-weight: 700;font-size: 1.875rem;line-height: 1.266666666666667;">
                <span>Làm cho tất cả mọi thứ biến mất!</span>
            </h3>
            <div class="UIDiv MatchModeInstructionsModal-description">
                <p class="UIParagraph">
                    <span>Kéo các vật phẩm tương ứng chồng lên nhau sẽ khiến chúng biến
            mất.</span
          >
        </p>
      </div>
      <div
        class="MatchModeInstructionsModal-button"
        style="margin-top:2.5rem !important;"
      >
        <button
          class="UIButton UIButton--hero"
          type="button"
          (click)="clickStart()"
        >
          <span class="UIButton-wrapper"><span>Bắt đầu chơi</span></span>
                    </button>
            </div>
        </div>
    </div>
    <div>

        <app-header></app-header>

        <div class="ModeLayout">
            <div class="ModeLayout-controls" style="display:flex;flex-direction: column;">
                <a href="javascript:void(0);" (click)="goBack();" class="ModeLayoutBack" style="flex:1;left: 18px;
            position: relative;">
                    <svg viewBox="0 0 9 15" width="1rem" height="1rem" fill="#3ccfcf">
                  <path  d="M8.047 14.676L.723 7.352 8.047.027z" ></path>
                </svg>
                    <span>Trở về</span>
                </a>
                <div style="flex:1;left: 30px;
            position: relative;">
                    <svg id="mode-match-small" style="fill:#4257b2;" viewBox="540 54 35 35" width="35px" height="35px"><path d="M572.28 62h-28.56c-1.5 0-2.72 1.219-2.72 2.719v8.561c0 1.5 1.22 2.72 2.72 2.72H545v2.28c0 1.5 1.22 2.72 2.72 2.72h13.56c1.5 0 2.72-1.22 2.72-2.72V76h8.28c1.5 0 2.72-1.22 2.72-2.72v-8.561c0-1.5-1.22-2.719-2.72-2.719zM562 78.28c0 .396-.323.72-.72.72h-13.56a.721.721 0 0 1-.72-.72v-6.519a.72.72 0 0 1 .72-.719h13.56a.72.72 0 0 1 .72.719v6.519zm11-5c0 .396-.323.72-.72.72H564v-2.239c0-1.5-1.22-2.719-2.72-2.719h-13.56c-1.5 0-2.72 1.219-2.72 2.719V74h-1.28a.721.721 0 0 1-.72-.72v-8.561a.72.72 0 0 1 .72-.719h28.56a.72.72 0 0 1 .72.719v8.561zM558 74h-7a1 1 0 1 0 0 2h7a1 1 0 1 0 0-2z"></path></svg>
                    <span style="font-size:0.875rem;    left: 23px;
                position: relative;font-weight: 700;">Ghép thẻ</span>
                </div>
                <div style="flex:3;left: 10px;
            position: relative;">

                    <div style="font-size:30px;color: #4257b2;
                transition: all 120ms cubic-bezier(0.47,0,0.745,0.715);">Điểm:{{point}}</div>
                    <!-- <div style="font-size:30px;color: #4257b2;
                transition: all 120ms cubic-bezier(0.47,0,0.745,0.715);">
              

            </div> -->
                </div>


            </div>
            <div style="height: 100%;
    position: relative;width:79%;float:right;    top: 24px;">
                <div class="grid" id="grid-1">
                    <ng-container *ngFor="let list of ListLoad;let i = index">

                        <div class="item" id="{{i}}front" *ngIf="list.definition===''; else haveImage" (click)="clickChoose(i,'front')">{{list.name}}</div>
                        <input type="text" id="{{i}}" value={{list.id}} hidden>
                        <ng-template #haveImage>
                            <div class="parallax-container">
                                <div style=" background-color: rgb(0, 0, 0);
                        background-color: rgba(0, 0, 0, 1);
                        -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);">
                                    <div style="opacity: 0.6;height:123.778px;" class="item parallax1" [style.background-image]="getBackground(list.name)" id="{{i}}back" (click)="clickChoose(i,'back')">
                                        <span class="fontColor">{{list.definition}}</span>
                                    </div>
                                </div>

                            </div>
                            <input type="text" value={{list.id}} id={{i}} hidden>
                        </ng-template>
                    </ng-container>


                    <!-- <div id="6" class="rg_item">Item 6</div>
            <div id="7" class="rg_item">Item 7</div>
            <div id="5" class="rg_item">Item 5</div>
            <div id="8" class="rg_item">Item 8</div>
            <div id="9" class="rg_item">Item 9</div>
            <div id="5" class="rg_item">Item 5</div>
            <div id="10" class="rg_item">Item 10</div>
            <div id="11" class="rg_item">Item 11</div>
            <div id="12" class="rg_item">Item 12</div> -->

                </div>
                <div class="table-responsive" style="display: none;">
                    <table class="table" style="margin-bottom: 0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>User Name</th>
                                <th>Point</th>
                                <th>Date Time</th>
                            </tr>
                        </thead>
                        <tr class="table-success">
                            <th scope="row">1</th>
                            <td>{{token.getUsername()}}</td>
                            <td>{{point}}</td>
                            <td>{{dateNow}}</td>
                        </tr>
                        <tr *ngFor="let dr of resultData1;let i=index ">
                            <th scope="row">{{i+2}}</th>
                            <td>{{dr.username}}</td>
                            <td>{{dr.result}}</td>
                            <td>{{dr.createdDatetime}}</td>
                        </tr>



                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loggedOut>
    <app-login></app-login>
</ng-template>