<div *ngIf="checkLoginRole(); else loggedOut">
    <div class="containerlogin">
        <!-- Start Header Area -->
        <header id="header" style="overflow: hidden; background-color:rgba(0, 0, 0, 0.9) ; color: white">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                    <div id="logo">
                        <a routerLink="/homepage"><img src="../../assets/img/logo.png" alt="" title="" /></a>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header Area -->

        <div id="CardsModeTarget">
            <div class="CardsModeLayout">
                <div class="ModeLayout is-showingAdz">
                    <div class="UIContainer">
                        <div class="ModeLayout-controls" style="top: 80px;">
                            <div>
                                <div class="ModeControls">
                                    <aside class="ModeControls-sidebar">
                                        <div class="ModeControls-back">
                                            <a class="UILink" href="javascript:void(0);" (click)="goBack()">
                                                <b><i class="fa fa-angle-left" style="color: #39cfca; font-size: 16px"></i>   Trở về</b>
                                            </a>
                                        </div>
                                        <div class="ModeControls-main">
                                            <div aria-labelledby="modeControls-modeLabel-Thẻ" class="ModeControls-modeName" role="contentinfo">
                                                <span aria-label="Thẻ" id="modeControls-modeLabel-Thẻ" style="font-size: 16px;"> <b> <i class="fa fa-copy"style="color: #4257b2; "></i>  Thẻ</b></span>
                                            </div>
                                            <div class="ModeControls-progress">
                                                <div class="ModeControls-progressSection">
                                                    <div class="CardsModeControls-progress">
                                                        <div class="CardsModeControls-progressLabel">
                                                            <div class="CardsModeControls-progressLabelText">TIẾN ĐỘ</div>
                                                            <div class="CardsModeControls-progressValue">{{currentIndex+1}}/{{this.data.length}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                        <div class="ModeLayout-content">
                            <div class="CardsModeView">
                                <div class="card" id="cardID">
                                    <div class="front" style="display: flex;
                                flex-direction: column;">

                                        <span class="tuvung" *ngIf="checkundefined()">
                                        {{ selectedWord.vocabulary }}
                                        <span class="wordtype" *ngIf="checkundefined()">
                                                        {{ selectedWord.typeword }}
                                                </span>
                                        </span>

                                        <span class="phonetic" *ngIf="checkundefined()">{{ selectedWord.phonetic }}
                                    </span>
                                        <span class="line-3" *ngIf="checkundefined()" style="display:flex;justify-content: center;">
                                        {{ selectedWord.note }}
                                    </span>

                                    </div>
                                    <div class="back" style="display: flex;justify-content: center;align-items: center; ">
                                        <img src="http://localhost:9059/upload/file/{{selectedWord.imageWord}}" alt="No Image" class="image" />

                                        <div *ngIf="checkundefined()" style="    margin-left: 15px;
                                    position: relative;
                                    width: auto;
                                    display: flex;
                                    line-height: normal;
                                    align-items: center;">{{selectedWord.definition}}</div>

                                    </div>
                                </div>
                            </div>


                            <div style="position: relative;
                        left: 5%;">
                                <div class="CardsList-navControl previousButton">
                                    <span class="UIIconButton">
                                            <button class="UIButton UIButton--white" disabled="" title="Xem thẻ trước đó" type="button">
                                              <span class="UIButton-wrapper" style="color:#3ccfcf;">
                                                <span class="UIIcon ">
                                                  <i class="fa fa-caret-left" style="font-size: 50px;"></i>
                                                </span>
                                    <!-- c0cace -->
                                    </span>
                                    </button>
                                    </span>
                                </div>
                                <div class="CardsList-navControl nextButton">
                                    <span class="UIIconButton">
                                            <button class="UIButton UIButton--white" title="Xem thẻ tiếp theo" type="button">
                                              <span class="UIButton-wrapper" style="color:#3ccfcf; ">
                                                <span class="UIIcon ">
                                                  <i class="fa fa-caret-right" style="font-size: 50px;"></i>
                                                </span>
                                    </span>
                                    </button>
                                    </span>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loggedOut>
    <app-login></app-login>
</ng-template>