<app-header></app-header>>
<!-- Start Banner Area -->
<section class="home-banner-area relative">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-8 col-md-12">
                <h1 class="wow fadeIn" data-wow-duration="4s">EYOURSEFT</h1>
                <p class="text-white">
                    Cộng đồng Anh ngữ của người Việt
                </p>
                <p class="text-white">
                    Cùng nhau học tập, trau dồi, chia sẻ kiến thức với nhau
                </p>

                <div class="input-wrap">
                    <form action="" class="form-box d-flex justify-content-between">
                        <input type="text" placeholder="Tìm kiếm chủ đề" class="form-control" name="username">
                        <button type="submit" class="btn search-btn">Tìm kiếm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->


<!-- Start About Area -->
<section class="about-area section-gap">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-md-6 about-left">
                <img class="img-fluid" src="assets/img/about1.jpg" alt="">
            </div>
            <div class="offset-lg-1 col-lg-6 offset-md-0 col-md-12 about-right">
                <h1>
                    Chào mừng bạn đến <br> với EYourself
                </h1>
                <div class="wow fadeIn" data-wow-duration="1s">
                    <p>
                        Môi trường học từ vựng tiếng anh thông minh sẽ giúp bạn ghi nhớ từ vựng một cách dễ dàng trong thời gian ngắn.
                    </p>
                </div>
                <a href="courses.html" class="primary-btn">Bắt đầu</a>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->


<!-- Start Courses Area -->
<section class="courses-area section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 about-right">
                <h1>
                    Cách tốt nhất để bạn đạt điểm <br> tuyệt đối bài thi
                </h1>
                <div class="wow fadeIn" data-wow-duration="1s">
                    <p>
                        Tìm trong hàng triệu học phần hoặc tự tạo học phần. Cải thiện điểm số bằng phương pháp học cùng thẻ ghi nhớ, trò chơi và nhiều phương pháp khác.


                    </p>
                </div>
                <a href="courses.html" class="primary-btn white">Bắt đầu</a>
            </div>
            <div class="offset-lg-1 col-lg-6">
                <div class="courses-right">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="courses-list">
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".1s" style="color:blue;">
                                        <i class="fa fa-book"></i> Thẻ ghi nhớ
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".3s" style="color:blue;">
                                        <i class="fa fa-book"></i> Học
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".5s" style="color:blue;">
                                        <i class="fa fa-book"></i> Viết
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".7s" style="color:blue;">
                                        <i class="fa fa-book"></i> Kiểm tra
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".9s" style="color:blue;">
                                        <i class="fa fa-book"></i> Ghép thẻ
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Courses Area -->


<!--Start Feature Area -->
<section class="feature-area">
    <div class="container" style="margin-bottom: 50px;">
        <div class="row justify-content-center" style="margin-bottom: -100px;">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1>Một số học phần nổi bật</h1>
                </div>
            </div>
        </div>
        <div class="feature-inner row">
            <div class="col-lg-4 col-md-6">
                <div class="HomepageStudySets-studySet HomepageStudySets-studySet--hasImage">
                    <div class="SetPreviewLink">
                        <div class="UILinkBox">
                            <div class="UILinkBox-inner">
                                <div class="SetPreviewLink-image" style="background-image:url(https://farm6.staticflickr.com/5100/5506171776_8c017483db.jpg)"></div>
                                <div class="SetPreview">
                                    <div class="SetPreview-inner">
                                        <div class="PreviewCardByline"><span class="SetPreview-cardBylineTermsCount">22 thuật ngữ</span><span class="UIVerticalRule UIVerticalRule--onWhite"></span>
                                            <div class="SetPreview-cardBylineCreator">
                                                <div class="UserLink">
                                                    <div class="UserLink-inner">
                                                        <div class="UserLink-avatar"><a class="UILink" href="#" title="Thăm hồ sơ của nhale"><span class="UserAvatar" style="background-image:url(https://quizlet.com/fb-pic/platform-lookaside.fbsbx.com/platform/profilepic/?asid=409330705932109&amp;height=320&amp;width=320&amp;ext=1557476081&amp;hash=AeTFKpZ7L_gw3tsj);height:24px;width:24px;"></span></a>
                                                        </div>
                                                        <div class="UserLink-content"><a class="UILink" href="#" title="Thăm hồ sơ của nhale"><span class="UserLink-username">nhale</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <header class="SetPreview-cardHeader">
                                            <span class="SetPreview-cardHeaderTitle">Hóa học từ vựng</span>
                                        </header>
                                        <div class="SetPreviewLink-metadata">
                                            <div class="SetPreviewLink-priceTag">
                                                <h4 class="UIHeading UIHeading--four"></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="UILinkBox-link">
                                <a class="UILink" data-sourcename="homepage-set-preview" href="detail.html" title="hóa học từ vựng"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="HomepageStudySets-studySet HomepageStudySets-studySet--hasImage">
                    <div class="SetPreviewLink">
                        <div class="UILinkBox">
                            <div class="UILinkBox-inner">
                                <div class="SetPreviewLink-image" style="background-image:url(https://farm6.staticflickr.com/5100/5506171776_8c017483db.jpg)"></div>
                                <div class="SetPreview">
                                    <div class="SetPreview-inner">
                                        <div class="PreviewCardByline"><span class="SetPreview-cardBylineTermsCount">22 thuật ngữ</span><span class="UIVerticalRule UIVerticalRule--onWhite"></span>
                                            <div class="SetPreview-cardBylineCreator">
                                                <div class="UserLink">
                                                    <div class="UserLink-inner">
                                                        <div class="UserLink-avatar"><a class="UILink" href="#" title="Thăm hồ sơ của nhale"><span class="UserAvatar" style="background-image:url(https://quizlet.com/fb-pic/platform-lookaside.fbsbx.com/platform/profilepic/?asid=409330705932109&amp;height=320&amp;width=320&amp;ext=1557476081&amp;hash=AeTFKpZ7L_gw3tsj);height:24px;width:24px;"></span></a>
                                                        </div>
                                                        <div class="UserLink-content"><a class="UILink" href="#" title="Thăm hồ sơ của nhale"><span class="UserLink-username">nhale</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <header class="SetPreview-cardHeader">
                                            <span class="SetPreview-cardHeaderTitle">Hóa học từ vựng</span>
                                        </header>
                                        <div class="SetPreviewLink-metadata">
                                            <div class="SetPreviewLink-priceTag">
                                                <h4 class="UIHeading UIHeading--four"></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="UILinkBox-link">
                                <a class="UILink" data-sourcename="homepage-set-preview" href="detail.html" title="hóa học từ vựng"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="HomepageStudySets-studySet HomepageStudySets-studySet--hasImage">
                    <div class="SetPreviewLink">
                        <div class="UILinkBox">
                            <div class="UILinkBox-inner">
                                <div class="SetPreviewLink-image" style="background-image:url(https://farm6.staticflickr.com/5100/5506171776_8c017483db.jpg)"></div>
                                <div class="SetPreview">
                                    <div class="SetPreview-inner">
                                        <div class="PreviewCardByline"><span class="SetPreview-cardBylineTermsCount">22 thuật ngữ</span><span class="UIVerticalRule UIVerticalRule--onWhite"></span>
                                            <div class="SetPreview-cardBylineCreator">
                                                <div class="UserLink">
                                                    <div class="UserLink-inner">
                                                        <div class="UserLink-avatar"><a class="UILink" href="#" title="Thăm hồ sơ của nhale"><span class="UserAvatar" style="background-image:url(https://quizlet.com/fb-pic/platform-lookaside.fbsbx.com/platform/profilepic/?asid=409330705932109&amp;height=320&amp;width=320&amp;ext=1557476081&amp;hash=AeTFKpZ7L_gw3tsj);height:24px;width:24px;"></span></a>
                                                        </div>
                                                        <div class="UserLink-content"><a class="UILink" href="#" title="Thăm hồ sơ của nhale"><span class="UserLink-username">nhale</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <header class="SetPreview-cardHeader">
                                            <span class="SetPreview-cardHeaderTitle">Hóa học từ vựng</span>
                                        </header>
                                        <div class="SetPreviewLink-metadata">
                                            <div class="SetPreviewLink-priceTag">
                                                <h4 class="UIHeading UIHeading--four"></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="UILinkBox-link">
                                <a class="UILink" data-sourcename="homepage-set-preview" href="detail.html" title="hóa học từ vựng"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="HomepageStudySets-studySet HomepageStudySets-studySet--hasImage">
                    <div class="SetPreviewLink">
                        <div class="UILinkBox">
                            <div class="UILinkBox-inner">
                                <div class="SetPreviewLink-image" style="background-image:url(https://farm6.staticflickr.com/5100/5506171776_8c017483db.jpg)"></div>
                                <div class="SetPreview">
                                    <div class="SetPreview-inner">
                                        <div class="PreviewCardByline"><span class="SetPreview-cardBylineTermsCount">22 thuật ngữ</span><span class="UIVerticalRule UIVerticalRule--onWhite"></span>
                                            <div class="SetPreview-cardBylineCreator">
                                                <div class="UserLink">
                                                    <div class="UserLink-inner">
                                                        <div class="UserLink-avatar"><a class="UILink" href="#" title="Thăm hồ sơ của nhale"><span class="UserAvatar" style="background-image:url(https://quizlet.com/fb-pic/platform-lookaside.fbsbx.com/platform/profilepic/?asid=409330705932109&amp;height=320&amp;width=320&amp;ext=1557476081&amp;hash=AeTFKpZ7L_gw3tsj);height:24px;width:24px;"></span></a>
                                                        </div>
                                                        <div class="UserLink-content"><a class="UILink" href="#" title="Thăm hồ sơ của nhale"><span class="UserLink-username">nhale</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <header class="SetPreview-cardHeader">
                                            <span class="SetPreview-cardHeaderTitle">Hóa học từ vựng</span>
                                        </header>
                                        <div class="SetPreviewLink-metadata">
                                            <div class="SetPreviewLink-priceTag">
                                                <h4 class="UIHeading UIHeading--four"></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="UILinkBox-link">
                                <a class="UILink" data-sourcename="homepage-set-preview" href="detail.html" title="hóa học từ vựng"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="HomepageStudySets-studySet HomepageStudySets-studySet--hasImage">
                    <div class="SetPreviewLink">
                        <div class="UILinkBox">
                            <div class="UILinkBox-inner">
                                <div class="SetPreviewLink-image" style="background-image:url(https://farm6.staticflickr.com/5100/5506171776_8c017483db.jpg)"></div>
                                <div class="SetPreview">
                                    <div class="SetPreview-inner">
                                        <div class="PreviewCardByline"><span class="SetPreview-cardBylineTermsCount">22 thuật ngữ</span><span class="UIVerticalRule UIVerticalRule--onWhite"></span>
                                            <div class="SetPreview-cardBylineCreator">
                                                <div class="UserLink">
                                                    <div class="UserLink-inner">
                                                        <div class="UserLink-avatar"><a class="UILink" href="#" title="Thăm hồ sơ của nhale"><span class="UserAvatar" style="background-image:url(https://quizlet.com/fb-pic/platform-lookaside.fbsbx.com/platform/profilepic/?asid=409330705932109&amp;height=320&amp;width=320&amp;ext=1557476081&amp;hash=AeTFKpZ7L_gw3tsj);height:24px;width:24px;"></span></a>
                                                        </div>
                                                        <div class="UserLink-content"><a class="UILink" href="#" title="Thăm hồ sơ của nhale"><span class="UserLink-username">nhale</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <header class="SetPreview-cardHeader">
                                            <span class="SetPreview-cardHeaderTitle">Hóa học từ vựng</span>
                                        </header>
                                        <div class="SetPreviewLink-metadata">
                                            <div class="SetPreviewLink-priceTag">
                                                <h4 class="UIHeading UIHeading--four"></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="UILinkBox-link">
                                <a class="UILink" data-sourcename="homepage-set-preview" href="detail.html" title="hóa học từ vựng"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="HomepageStudySets-studySet HomepageStudySets-studySet--hasImage">
                    <div class="SetPreviewLink">
                        <div class="UILinkBox">
                            <div class="UILinkBox-inner">
                                <div class="SetPreviewLink-image" style="background-image:url(https://farm6.staticflickr.com/5100/5506171776_8c017483db.jpg)"></div>
                                <div class="SetPreview">
                                    <div class="SetPreview-inner">
                                        <div class="PreviewCardByline"><span class="SetPreview-cardBylineTermsCount">22 thuật ngữ</span><span class="UIVerticalRule UIVerticalRule--onWhite"></span>
                                            <div class="SetPreview-cardBylineCreator">
                                                <div class="UserLink">
                                                    <div class="UserLink-inner">
                                                        <div class="UserLink-avatar"><a class="UILink" href="#" title="Thăm hồ sơ của nhale"><span class="UserAvatar" style="background-image:url(https://quizlet.com/fb-pic/platform-lookaside.fbsbx.com/platform/profilepic/?asid=409330705932109&amp;height=320&amp;width=320&amp;ext=1557476081&amp;hash=AeTFKpZ7L_gw3tsj);height:24px;width:24px;"></span></a>
                                                        </div>
                                                        <div class="UserLink-content"><a class="UILink" href="#" title="Thăm hồ sơ của nhale"><span class="UserLink-username">nhale</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <header class="SetPreview-cardHeader"><span class="SetPreview-cardHeaderTitle">Hóa học từ vựng</span>

                                        </header>
                                        <div class="SetPreviewLink-metadata">
                                            <div class="SetPreviewLink-priceTag">
                                                <h4 class="UIHeading UIHeading--four"></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="UILinkBox-link">
                                <a class="UILink" data-sourcename="homepage-set-preview" href="detail.html" title="hóa học từ vựng"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Feature Area -->


<!-- Start Faculty Area -->
<section class="faculty-area section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8" style="margin-top: 50px;">
                <div class="section-title text-center">
                    <div class="UIDiv HomepageBackToSchoolCallout-wrapper">
                        <div class="UIDiv HomepageBackToSchoolCallout-content">
                            <h2 class="UIHeading UIHeading--two" style="padding-bottom: 30px;">Sứ mệnh của chúng tôi là tạo ra một cộng đồng cùng học, cùng chia sẽ và cùng thành công</h2>
                            <p class="UIParagraph" style="text-align: left;">Chúng tôi thực hiện sứ mệnh đó thông qua việc giúp mọi người dễ dàng tạo và chia sẻ tài liệu học tập trực tuyến.</p>
                            <p class="UIParagraph" style="text-align: left;">Cung cấp các công cụ cho mọi người để tạo thẻ ghi nhớ, chơi các trò chơi giáo dục, kiểm tra kiến thức, hợp tác cùng tất cả mọi người tạo nên một môi trường giáo dục chung

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Faculty Area -->

<!-- Start Footer Area -->
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 single-footer-widget">
                <h4>EYOURSEFT</h4>
            </div>
            <div class="col-lg-3 col-md-6 single-footer-widget">
                <h4>Danh mục</h4>
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Học phần</a></li>
                    <li><a href="#">Chi tiết</a></li>
                    <li><a href="#">Đăng nhập</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 single-footer-widget">
                <h4>Tính năng</h4>
                <ul>
                    <li><a href="#">Thẻ ghi nhớ</a></li>
                    <li><a href="#">Học</a></li>
                    <li><a href="#">Viết</a></li>
                    <li><a href="#">Kiểm tra</a></li>
                    <li><a href="#">Ghép thẻ</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 single-footer-widget">
                <h4>Thông tin liên hệ</h4>
                <p>Email: eyourself@gmail.com</p>
                <p>Điện thoại: 098.758.9747</p>
            </div>
        </div>
        <div class="footer-bottom row align-items-center">
            <p class="footer-text m-0 col-lg-8 col-md-12">
                © 2019 EYourself Inc
            </p>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<!-- ####################### Start Scroll to Top Area ####################### -->
<div id="back-top">
    <a title="Go to Top" href="#"></a>
</div>
<!-- ####################### End Scroll to Top Area ####################### -->