<!-- Start Header Area -->
<header id="header" style="overflow: hidden; background-color:rgba(0, 0, 0, 0.9) ; color: white">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a routerLink="/homepage"><img src="assets/img/logo.png" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a routerLink="/homepage">Trang chủ</a></li>
                    <li><a routerLink="/courses">Học phần</a></li>
                    <ng-container *ngIf="checkLogin();else Login">
                        <li><a style="cursor: pointer;" (click)="logout();">Đăng xuất</a></li>
                    </ng-container>
                    <ng-template #Login>
                        <li><a routerLink="/login">Đăng nhập</a></li>
                    </ng-template>


                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </div>
</header>
<!-- End Header Area -->