<div class="containerlogin">
    <!-- Start Header Area -->
    <header id="header" style="overflow: hidden; background-color:rgba(0, 0, 0, 0.9) ; color: white">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="index.html"><img src="../../assets/img/logo.png" alt="" title="" /></a>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header Area -->

    <div id="CardsModeTarget">
        <div class="CardsModeLayout">
            <div class="ModeLayout is-showingAdz">
                <div class="UIContainer">
                    <div class="ModeLayout-controls" style="top: 80px;">
                        <div>
                            <div class="ModeControls">
                                <aside class="ModeControls-sidebar">
                                    <div class="ModeControls-back">
                                        <a class="UILink" href="detail.html">
                                            <b><i class="fa fa-angle-left" style="color: #39cfca; font-size: 16px"></i>   Trở về</b>
                                        </a>
                                    </div>
                                    <div class="ModeControls-main">
                                        <div aria-labelledby="modeControls-modeLabel-Thẻ" class="ModeControls-modeName" role="contentinfo">
                                            <span aria-label="Thẻ" id="modeControls-modeLabel-Thẻ" style="font-size: 16px;"> 
                                            <b> <i class="fa fa-check-circle" style="color: #4257b2; "></i>  Học</b>                                  
                                            </span>
                                        </div>
                                        <div class="ModeControls-progress">
                                            <div class="ModeControls-progressSection">
                                                <div class="CardsModeControls-progress">
                                                    <div class="CardsModeControls-progressBar">
                                                        <div aria-valuemax="22" aria-valuemin="0" aria-valuenow="1" class="UIProgressBar" role="progressbar"><span class="UIProgressBar-fill" style="width: 4.54545%;"></span>
                                                        </div>
                                                    </div>
                                                    <div class="CardsModeControls-progressLabel">
                                                        <div class="CardsModeControls-progressLabelText">TIẾN ĐỘ</div>
                                                        <div class="CardsModeControls-progressValue">1/22</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ModeControls-actions" style="text-align: center;">
                                            <div class="ModeControls-action">


                                                <button class="UIButton UIButton--whiteBorder UIButton--fill" type="button" (click)="shuffle(ListLoad);">
                        <span class="UIButton-wrapper">
                          <i class="fa fa-random"></i>
                          <span>  Trộn thẻ</span>
                        </span>
                      </button>

                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="ModeLayout-content">
                        <div class="AssistantViewController AssistantViewController--withProgressBar">
                            <div class="AssistantLearnProgressBar">
                                <div class="AssistantLearnProgressBar-progress" style="width: 0%;"></div>
                            </div>
                            <span></span>
                            <span>
                <div class="AssistantMultipleChoiceQuestionPromptView">
                  <div class="AssistantScrollableViewLayout">
                    <div class="AssistantScrollableViewLayout-topBlur"></div>
                    <div class="AssistantScrollableViewLayout-content">
                      <div class="AssistantMultipleChoiceQuestionPromptView-inner">
                        <div class="AssistantMultipleChoiceQuestionPromptView-promptArea">
                          <div class="AssistantMultipleChoiceQuestionPromptView-prompt">
                            <div class="AssistantPromptTermTextWithImage">
                              <div class="FormattedTextWithImage">
                                <span class="FormattedText notranslate TermText lang-en" id="{{selectedWord.definition}}">{{selectedWord.vocabulary}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="AssistantMultipleChoiceQuestionPromptView-options">
                <div class="AssistantMultipleChoiceQuestionPromptView-termOptions">
                    <div class="AssistantMultipleChoiceQuestionPromptView-termOption" *ngFor="let word of ListLoad;let i=index">
                        <div class="AssistantMultipleChoiceQuestionPromptView-keyboardHint">
                            <div class="UIKeyboardHint is-white"><span class="UIKeyboardHint-text is-white">{{i+1}}</span>
                            </div>
                        </div>
                        <div class="AssistantMultipleChoiceQuestionPromptView-termOptionInner">
                            <div class="FormattedTextWithImage"><span class="FormattedText notranslate TermText lang-vi">{{word.definiton}}</span>
                                <div class="FormattedTextWithImage-image">
                                    <div class="Image">
                                        <!-- [style.background]="getBackground(word.name)+'center center/contain no-repeat;'" -->
                                        <div class="Image-image">
                                            <img src="http://localhost:9059/upload/file/{{word.name}}" style="height: 100%;width: 100%" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="AssistantScrollableViewLayout-bottomBlur"></div>
</div>
</div>
</span><span>
            </span>
</div>
</div>
</div>
</div>
</div>
<div class="popup" id="popup">
    <div class="popup__content" style="text-align: center;">

        <h3 class="UIHeading UIHeading--three" style="margin-bottom: 0;margin-left: 0;margin-right: 0;font-weight: 700;font-size: 1.875rem;line-height: 1.266666666666667;"><span>Làm cho tất cả mọi thứ biến mất!</span></h3>
        <div class="UIDiv MatchModeInstructionsModal-description">
            <p class="UIParagraph"><span>Kéo các vật phẩm tương ứng chồng lên nhau sẽ khiến chúng biến mất.</span></p>
        </div>
        <div class="MatchModeInstructionsModal-button" style="margin-top:2.5rem !important;"><button class="UIButton UIButton--hero" type="button" (click)="clickStart();"><span class="UIButton-wrapper"><span>Bắt đầu chơi</span></span></button></div>
    </div>
</div>