<!-- <mat-toolbar color="primary">
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
    <mat-icon svgIcon="sound"></mat-icon>
    <mat-icon>mood</mat-icon>
    <mat-icon class="mat-icon-rtl-mirror" svgIcon="video"></mat-icon>
    <i class="material-icons md-light">face</i>
</mat-toolbar> -->

<!-- <app-gheptu></app-gheptu> -->
<router-outlet></router-outlet>


<!-- <app-flipclick></app-flipclick> -->
<!-- <app-login></app-login> -->

<!-- <app-courses></app-courses>
 -->
<!-- <app-homepage></app-homepage> -->
<!-- <app-testflexbox></app-testflexbox> -->