.UITextarea-content {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
}

.UITextarea-textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #2d3639;
    cursor: text;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    outline: none;
    overflow: hidden;
    padding-bottom: 0.375rem;
    resize: vertical;
    text-align: inherit;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
}

.LearnModeInput .UITextarea-textarea {
    overflow: hidden;
    resize: none;
    white-space: pre-wrap !important;
}

.popup__close {
    // color: #55c57a;
    opacity: 0;
    visibility: hidden;
}

.popup_close {
    // color: #55c57a;
    opacity: 0 !important;
}

.popup_show {
    opacity: 1 !important;
    z-index: 101;
}

.UITextarea-border {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    -ms-flex-item-align: end;
    display: block;
    height: 0.25rem;
    box-shadow: 0 0.125rem 0 0 #455358;
    transition: all 120ms cubic-bezier(0.47, 0, 0.745, 0.715);
    width: 100%;
}

.UITextarea-textarea:focus~.UITextarea-border {
    box-shadow: 0 0.25rem 0 0 #ffcd1f;
}

tbody {
    display: block;
    max-height: 350px;
    overflow-y: auto;
}

thead,
tbody tr {
    display: table;
    width: 95%;
    table-layout: fixed;
}

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    // opacity: 0;
    // visibility: hidden;
    transition: all .3s;
}

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s;
}

.popup__left {
    width: 33.333333%;
    display: table-cell;
}

.popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
}

.popup__img {
    display: block;
    width: 100%;
}

.popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

// .popup:target {
//     opacity: 1;
//     visibility: visible;
// }
.popup .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup__close:link,
.popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
}

.popup__close {
    // color: #55c57a;
    opacity: 0;
    visibility: hidden;
}

.popup_close {
    // color: #55c57a;
    opacity: 0 !important;
}

.popup_show {
    opacity: 1 !important;
    z-index: 101;
}